@import 'variables/global';
@import 'reset';
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap';

.app {
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 8px;            
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);    
    border-radius: 20px;      
}