.container {
    padding: 82px 50px;
    background: linear-gradient(180deg, #1E1156 0%, rgba(28, 35, 64, 0) 100%);
    box-shadow: 0px 15px 40px 0px #00000040;
    border-radius: 8px;
}

.loginForm {
    max-width: 380px;
}

.email {
    margin-bottom: 26px;
}

.password {
    margin-bottom: 64px
}

.title {
 margin-bottom: 62px;   
}