.container {
    padding: 82px 50px;
}

.loginForm {
    max-width: 380px;
}

.email {
    margin-bottom: 26px;
}

.password {
    margin-bottom: 64px
}

.title {
    margin-bottom: 24px;
    color: #171717;
    font-size: 27px;
    font-weight: 700;
    text-align: center;   
}