:root {
    --primary-color: #E0F64B;
    --secondary-color: #171717;

    // Text
    --secondary-text-color: #171717;
    --primary-text-color: #fff;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 24px;

}