.title {
    color: var(--secondary-text-color);
}

.primary {
    color: var(--primary-text-color);
}

.secondary {
    color: var(--secondary-text-color);
}

.grey {
    color: var(--grey-text-color);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_xs {
    .title {
        font-size: 16px;
    }

    .text {
        font-size: var(--font-size-xs);
    }
}

.size_s {
    .title {
        font-size: 18px;
    }

    .text {
        font-size: var(--font-size-s);
    }
}

.size_m {
    .title {
        font-size: 24px;
    }

    .text {
        font-size: var(--font-size-m);
    }
}

.size_l {
    .title {
        font-size: 32px;
    }

    .text {
        font-size: var(--font-size-l);
    }
}