.Modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    background-color: rgb(0 0 0 / 50%);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
    z-index: 100;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(100);

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}