.Button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 24px;
    display: block;
    transition: 0.3s;
}

.primary {
    color: var(--secondary-color);;
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--secondary-color);
        color: #FFF;
    }
}

.secondary {
    color: #FFF;
    background-color: var(--secondary-color);

    &:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}

.fullWidth {
    width: 100%;
}