.Button {
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 10px 24px;
    display: block;
}

.primary {
    color: #fff;
    background-color: var(--primary-color);
}

.secondary {
    color: #949EC0;
    background-color: var(--secondary-color);
}