.CoinsBuyList {
    grid-column: 2 / 4;
    display: flex;
    column-gap: 14px;
}

.coin_trade_data {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coin_trade_table {
    width: 50%;
    height: 510px;
    overflow-y: scroll;
}

.name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.symbol {
    color: #848484;
    font-size: 12px;
}

.price {
    font-weight: 600;
    white-space: nowrap;
}