.Sidebar {
    height: 100vh;
    width: 312px;
    position: relative;
    transition: width 0.3s;
    background: #171717;
    padding: 30px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Sidebar_lg {
    display: none;
}

.collapsed {
    width: 115px;

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}

.lang {
    margin-top: 12px;
    margin-bottom: 12px;
}

.logoWrapper {
    margin-bottom: 70px;
}