.ContentWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-shrink: 100;
}

.title {
    margin-bottom: 16px;
}

.contained {
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #e8e8e8;
    height: fit-content;
}