.Input {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E8E8E8;
    border-color: #B8B8B8;
    color: #171717;
    height: 48px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;

    &::placeholder {
      color: #b8b8b8;
      font-weight: 600;
      font-size: 12px;
    }

    &:focus, &:hover {
      border: 1px solid var(--secondary-color);
    }
}

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lable {
  text-transform: uppercase;
  font-weight: 300;
  color: #848484;
  margin-left: 15px;
  margin-bottom: 8px;
  font-size: 12px;
}

.inputWithBeforeIcon  {
    margin-right: 20px;
}
  
.inputWithAfterIcon {
    padding-right: 45px;
}

.beforeIcon svg,
.afterIcon svg {
  overflow: visible;
  transform: translateY(-50%);
}

.beforeIcon,
.afterIcon {
  position: absolute;
  top: 50%;
}

.beforeIcon {
  left: 12px;
}

.afterIcon {
  right: 12px;
}