.TopCoinListItem {
    width: 100%;
    background-color: #fff;

    &:not(:last-child) {
        border-bottom: 1px solid #e8e8e8;
    }
}

.coinItem {
    width: 100%;
    padding: 16px;
}

.coinText {
    color: var(--secondary-text-color);
    font-weight: 600;
}

.coin_symbol {
    font-weight: 500;
}

.name {
    margin-top: 5px;
}