.NotificationList {
    // overflow-y: scroll;
}

.wrapper {
    height: 450px;
}

.bg_view {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        z-index: 200;
        width: 100%;
        height: 80px;
        background: linear-gradient(rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 100%);
    }
}

