.Wrapper {
    display: flex;
    flex-direction: column;
}

.label {
    margin-left: 16px;
    color: #848484;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.select {
    background: none;
    outline: none;
    color: #171717;
    padding: 10px 15px;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
}

.option {
    color: #171717;
    background: #fff;
}