.container {
    width: 100vw;
    height: 100vh;
    background: url("./../../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logoContainer {
    text-align: center;
    width: 1060px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.logo {
    color: #5fb2ff;
    font-size: 72px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 12px;
}

.logoText {
    color: #fff;
    font-size: 24px;
}

.divider {
    display: block;
    height: 2px;
    width: 175px;
    background-color: #1288E8;
    border-radius: 2px;
    margin: 12px auto;
}

