.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftContent {
    width: 50%;
    background: url("./../../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftContentWrapper {
    max-width: 390px;
    text-align: center;
}

.title {
    margin-bottom: 16px;
}

.rightContent {
    width: 50%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

