.wrapper {
    display: flex;
    padding: 50px 15px;

    @media screen and (width <= 700px), (height <= 500px) {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.close_btn {
    margin-left: auto;
}