.exchange_info {
    border-radius: 12px;
    margin: 24px 0;
    padding: 18px 16px;
    background-color: #f7f7f7;
}

.fee {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 16px;
}

.amount {
    width: 100%;
    padding-top: 8px;
}

.description {
    margin-bottom: 24px;
}